torch>=1.7.0
torchvision>=0.4.0
numpy==1.21.6
pyyaml==6.0
scikit-learn==1.0.2
matplotlib==3.5.3
ray[dev]
jupyter
pandas==1.3.5
requests
psutil
tqdm
Pillow==6.2.0
gensim>=3.8.1
easydict
wandb==0.13.10
timm==0.6.12
loguru
continuum==1.0.22
captum==0.6.0
pot==0.8.2
h5py
scikit-image